<template>
  <v-container grid-list-xl>
    <v-layout row wrap tabindex="0">
      <v-flex d-flex xs12>
        <v-card flat tile>
          <v-card-title class="display-3">{{output || 0}}</v-card-title>
          <v-card-text>
            {{ infix.join('') }}<br>
          </v-card-text>
        </v-card>
      </v-flex>

      <template v-for="button in buttons">
        <v-flex :class="'xs'+( button.size || 1 ) * 3" d-flex v-bind:key="button.value">
          <v-btn large class="text-xs-center" :color="button.color || ''"
                 @click="push(button.value)">
            <v-icon v-if="button.icon">{{button.icon}}</v-icon>
            <span v-if="!button.icon">{{button.label}}</span>
          </v-btn>
        </v-flex>
      </template>

    </v-layout>
  </v-container>
</template>

<script>
import * as math from 'mathjs';

const bigmath = math.create();

export default {
  name: 'Calculator',
  data: () => ({
    buttons: [
      {
        label: 'arc',
        value: ' arc( ',
      },
      {
        label: 'sin',
        value: ' sin( ',
      },
      {
        label: 'tan',
        value: ' tan( ',
      },
      {
        label: 'cos',
        value: ' cos( ',
      },

      {
        label: 'x^2',
        value: ' ^ 2 ',
      },
      {
        label: 'x^y',
        value: ' ^ ',
      },
      {
        label: 'sqrt',
        value: ' sqrt( ',
      },
      {
        label: 'log',
        value: ' log( ',
      },

      {
        label: '(',
        value: ' ( ',
        key: 'open_bracket',
      },
      {
        label: ')',
        value: ' ) ',
        key: 'close_bracket',
      },
      {
        label: '𝜋',
        value: ' 𝜋 ',
      },
      {
        label: '±',
        value: '+/-',
      },

      {
        label: 'CE',
        value: 'CE',
        size: 2,
      },
      // {
      //   label: 'C',
      //   value: 'C',
      // },
      {
        icon: 'backspace',
        value: 'b',
        color: 'error',
      },
      {
        label: '/',
        value: ' / ',
        color: 'info',
        key: 'divide',
      },

      {
        label: 7,
        value: 7,
        color: 'warning',
        key: 'in7',
      },
      {
        label: 8,
        value: 8,
        color: 'warning',
        key: 'in8',
      },
      {
        label: 9,
        value: 9,
        color: 'warning',
        key: 'in9',
      },
      {
        label: 'x',
        value: ' * ',
        color: 'info',
        key: 'multiply',
      },

      {
        label: 4,
        value: 4,
        color: 'warning',
        key: 'in4',
      },
      {
        label: 5,
        value: 5,
        color: 'warning',
        key: 'in5',
      },
      {
        label: 6,
        value: 6,
        color: 'warning',
        key: 'in6',
      },
      {
        label: '-',
        value: ' - ',
        color: 'info',
        key: 'subtract',
      },

      {
        label: 1,
        value: 1,
        color: 'warning',
        key: 'in1',
      },
      {
        label: 2,
        value: 2,
        color: 'warning',
        key: 'in2',
      },
      {
        label: 3,
        value: 3,
        color: 'warning',
        key: 'in3',
      },
      {
        label: '+',
        value: ' + ',
        color: 'info',
        key: 'add',
      },

      {
        label: 0,
        value: 0,
        size: 2,
        color: 'warning',
        key: 'in0',
      },
      {
        label: ',',
        value: ',',
        key: 'decimal_point',
      },
      {
        label: '=',
        value: '=',
        color: 'success',
      },
    ],
    infix: [],
  }),
  computed: {
    // postfix() {
    //   return infixToPostfix(this.infix.join(''));
    // },
    output() {
      const infixString = this.replaceAll(this.infix.join(''), {
        '𝜋': 'pi',
        ',': '.',
      });
      try {
        return bigmath.eval(infixString);
      } catch (e) {
        console.log(infixString);
        console.log(e);
        return '...';
      }
    },
  },
  methods: {
    replaceAll(str,mapObj){
      const re = new RegExp(Object.keys(mapObj).join('|'),'gi');
      return str.replace(re, (matched) => mapObj[matched.toLowerCase()]);
    },
    push(button) {
      this.$log.debug(button);
      const test = (this.infix.length > 0) ? this.infix.length : false;
      switch (button) {
        // functional keys
        case 'b':
          if(test) {
            this.infix.pop(this.infix.length - 1);
          }
          break;
        case 'CE':
          this.infix = [];
          break;
        case '+/-':


        // input keys
        default:
          this.infix.push(button);
      }
      return true;
    },
  },
};
</script>

<style scoped>

</style>
