<template>
  <v-app dark >
    <v-toolbar app>
      <v-toolbar-title class="headline text-uppercase">
        <span>Scientific</span>
        <span class="font-weight-light">Calculator</span>
      </v-toolbar-title>
    </v-toolbar>

    <v-content>
        <Calculator/>
    </v-content>

    <v-footer app></v-footer>
  </v-app>
</template>

<script>
import Calculator from './components/Calculator.vue';

export default {
  name: 'ScientificCalculator',
  components: { Calculator },
};
</script>

<style>
  html {
    overflow-y: auto;
  }
</style>
